<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AppInfoSystem</display-name>
  <welcome-file-list>

    <welcome-file>index.jsp</welcome-file>

  </welcome-file-list>
  
   <!-- 配置环境参数，指定spring配置文件所在目录-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext-*.xml</param-value>
  </context-param>
  
  <!-- Spring MVC配置 -->
  <servlet>
  		<servlet-name>springmvc</servlet-name>
  		<servlet-class>
  			org.springframework.web.servlet.DispatcherServlet
  		</servlet-class>
  		<!-- 初始化参数 -->
  		<init-param>
  			<param-name>contextConfigLocation</param-name>
  			<param-value>classpath:springmvc-servlet.xml</param-value>
  		</init-param>
  		<!-- 自动启动 -->
  		<load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>springmvc</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
	
  <!-- log4j配置-->
  <context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
  </context-param>
  
  <!-- Spring 加载 Log4j 的监听 -->
  <listener>
    <listener-class>
			org.springframework.web.util.Log4jConfigListener
	</listener-class>
  </listener>
  <!-- 当系统启动的时候，spring进行资源加载或者配置，需要使用监听-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
   <!-- spring字符编码过滤器-->
<!--   <filter>
  	<filter-name>CharacterEncoding</filter-name>
  	<filter-class>cn.appsys.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>SysFilter</filter-name>
  	<filter-class>cn.appsys.filter.SysFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>SysFilter</filter-name>
  	<url-pattern>/jsp/*</url-pattern>
  </filter-mapping> -->
 
</web-app>